<div class="container-fluid container-fluid-custom">
  <h1>About</h1>
  <h2>This Website is Created by Dev Panchal(20BCE186)</h2>
  <a href="https://www.linkedin.com/in/dev-panchal-a37b23207/" target="_blank">
    <button type="button">Contact Developer</button>
  </a>
</div>
